* {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin-left: 5%;
}

/* Header Start Here  */
/* Header Start Here  */
/* Header Start Here  */

.header {
    background-color: rgb(241, 230, 215);
    height: 150px;
    padding: 30px;
    text-align: center;
}

.header h2 {
    margin-bottom: 20px;
}
.header p {
    width: 70%;
    margin-left: 15%;
}

/* First Part Start Here  */
/* First Part Start Here  */
/* First Part Start Here  */

.first {
    background-color: rgba(48, 157, 185, 0.804);
    height: 200px;
    padding: 30px;
    text-align: center;
}

.first h2 {
    margin-bottom: 15px;
}
.first p {
    margin-bottom: 15px;
    width: 70%;
    margin-left: 15%;
}

.first h4 {
    margin-bottom: 10px;
    text-align: left;
}

.first audio {
    float: left;
    height: 30px;
    width: 40%;
}

/* First - Sub Part Start here  */
/* First - Sub Part Start here  */
/* First - Sub Part Start here  */


.first-sub {
    background-color: rgb(153, 232, 183);
    padding: 30px;
    text-align: center;
}

.first-sub h2 {
    margin-bottom: 15px;
}
.first-sub p {
    margin-bottom: 15px;
    width: 70%;
    margin-left: 15%;
}

.first-sub h4 {
    margin-bottom: 10px;
    text-align: left;
}


/* second section start here  */
/* second section start here  */
/* second section start here  */
.second {
    background-color: rgb(104, 250, 255);
    padding: 30px;
    text-align: center;

}
.second h2 {
    margin-bottom: 15px;
}

.second table {
    padding: 10px;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.second tr td {
    padding: 10px;
    border: 1px solid black;
}

.second tr td:hover {
    background-color: rgb(1, 15, 17);
    color: rgb(255, 255, 255);

}
.second th {
    border: 2px solid black;
    padding: 10px;
}